

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
.iframe-font {
  font-family: sans-serif;
  font-size: 0.8em;
}

.bold-text {
  font-weight: 600;
}

.bigger-bold-text {
  font-size: 1.1em;
  font-weight: 600;
}

.div-input {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
}

.div-textarea-input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 95%;
}

.iframe-input {
  width: 100%;
  margin: 4px 4px 4px 4px;
  background-color: transparent;
  border: 1px solid #047cc0;
  border-radius: 2px !important;
  font-size: 14px;
  color: #2e2e2e;
  padding: 5px 5px;
}

.input-corner {
  border-radius: 4px;
}

.input-height {
  height: 20px;
}

.iframe-button {
  margin: 4px 4px 4px 4px;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #047cc0;
  border-radius: 2px;
  font-size: 14px;
  font-family: Helvetica, Open Sans, Arial, Lucida Grande, sans-serif;
  color: #047cc0;
  /* width: 100%; */
  height: 2rem;
  padding: 0 1rem;
}

.iframe-button:hover {
  cursor: pointer;
  background-color: #175d8d;
  color: #f6f6f6;
}

.right-align {
  text-align: right;
  padding-right: 50px;
}

.bottom-10 {
  margin-bottom: 10px;
  padding: 5px;
}

.display-text {
  border-radius: 4px;
  border: 1px solid grey;
  background-color: white;
  height: 18px;
  width: 96%;
  border: 1px solid #047cc0;
  border-radius: 2px !important;
  padding: 4px;
}

.disable-effect {
  color: grey;
}

.server-response {
  width: 95%;
  padding: 4px;
  height: 180px;
  margin: 20px 4px 4px 4px;
  background-color: transparent;
  border: 1px solid #047cc0;
  border-radius: 2px !important;
}

.test-panel-container {
  flex-direction: row;
  display: flex;
}

.plugin-test-panel {
  flex-grow: 1;
}

/* Style the buttons that are used to open and close the iframe-accordion panel */
.iframe-accordion {
  background-color: #d6d6d6;
  color: #000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.9s;
}

.iframe-accordion:hover {
  background-color: #d6d6d6;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  background-color: #eee;
}

/* Style the iframe-accordion panel. Note: hidden by default */
.panel {
  margin: 18px;
  background-color: white;
  max-height: 1;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.iframe-accordion:after {
  content: '\002C4'; /* Unicode character for "down" sign (V) */
  font-size: 14px;
  color: #000;
  float: right;
  transform: scaleX(1.5);
}

.active:after {
  content: "\002C5"; /* Unicode character for "up" sign (^) */
}

/* Force the scroll bar to be show in webkit browser (Mac hides by default) */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.35);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

